.main
  = search_form_for @search, url: searches_path do |f|
    .main__1
      .main__1__title
        大阪市
      .main__1__box
        .main__1__box__2
          .main__1__box__2__3
            %label
              = f.check_box :city_in, {multiple: true, class: "detail_condition detail_checkbox"}, '大阪市都島区', nil
              都島区
          .main__1__box__2__3
            %label
              = f.check_box :city_in, {multiple: true, class: "detail_condition detail_checkbox"}, '大阪市福島区', nil
              福島区
          .main__1__box__2__3
            %label
              = f.check_box :city_in, {multiple: true, class: "detail_condition detail_checkbox"}, '大阪市此花区', nil
              此花区
          .main__1__box__2__3
            %label
              = f.check_box :city_in, {multiple: true, class: "detail_condition detail_checkbox"}, '大阪市西区', nil
              西区
          .main__1__box__2__3
            %label
              = f.check_box :city_in, {multiple: true, class: "detail_condition detail_checkbox"}, '大阪市港区', nil
              港区
        .main__1__box__2
          .main__1__box__2__3
            %label
              = f.check_box :city_in, {multiple: true, class: "detail_condition detail_checkbox"}, '大阪市大正区', nil
              大正区
          .main__1__box__2__3
            %label
              = f.check_box :city_in, {multiple: true, class: "detail_condition detail_checkbox"}, '大阪市天王寺区', nil
              天王寺区
          .main__1__box__2__3
            %label
              = f.check_box :city_in, {multiple: true, class: "detail_condition detail_checkbox"}, '大阪市浪速区', nil
              浪速区
          .main__1__box__2__3
            %label
              = f.check_box :city_in, {multiple: true, class: "detail_condition detail_checkbox"}, '大阪市西淀川区', nil
              西淀川区
          .main__1__box__2__3
            %label
              = f.check_box :city_in, {multiple: true, class: "detail_condition detail_checkbox"}, '大阪市東淀川区', nil
              東淀川区
        .main__1__box__2
          .main__1__box__2__3
            %label
              = f.check_box :city_in, {multiple: true, class: "detail_condition detail_checkbox"}, '大阪市東成区', nil
              東成区
          .main__1__box__2__3
            %label
              = f.check_box :city_in, {multiple: true, class: "detail_condition detail_checkbox"}, '大阪市生野区', nil
              生野区
          .main__1__box__2__3
            %label
              = f.check_box :city_in, {multiple: true, class: "detail_condition detail_checkbox"}, '大阪市旭区', nil
              旭区
          .main__1__box__2__3
            %label
              = f.check_box :city_in, {multiple: true, class: "detail_condition detail_checkbox"}, '大阪市城東区', nil
              城東区
          .main__1__box__2__3
            %label
              = f.check_box :city_in, {multiple: true, class: "detail_condition detail_checkbox"}, '大阪市阿倍野区', nil
              阿倍野区
        .main__1__box__2
          .main__1__box__2__3
            %label
              = f.check_box :city_in, {multiple: true, class: "detail_condition detail_checkbox"}, '大阪市住吉区', nil
              住吉区
          .main__1__box__2__3
            %label
              = f.check_box :city_in, {multiple: true, class: "detail_condition detail_checkbox"}, '大阪市東住吉区', nil
              東住吉区
          .main__1__box__2__3
            %label
              = f.check_box :city_in, {multiple: true, class: "detail_condition detail_checkbox"}, '大阪市西成区', nil
              西成区
          .main__1__box__2__3
            %label
              = f.check_box :city_in, {multiple: true, class: "detail_condition detail_checkbox"}, '大阪市淀川区', nil
              淀川区
          .main__1__box__2__3
            %label
              = f.check_box :city_in, {multiple: true, class: "detail_condition detail_checkbox"}, '大阪市鶴見区', nil
              鶴見区
        .main__1__box__2
          .main__1__box__2__3
            %label
              = f.check_box :city_in, {multiple: true, class: "detail_condition detail_checkbox"}, '大阪市住之江区', nil
              住之江区
          .main__1__box__2__3
            %label
              = f.check_box :city_in, {multiple: true, class: "detail_condition detail_checkbox"}, '大阪市平野区', nil
              平野区
          .main__1__box__2__3
            %label
              = f.check_box :city_in, {multiple: true, class: "detail_condition detail_checkbox"}, '大阪市北区', nil
              北区
          .main__1__box__2__3
            %label
              = f.check_box :city_in, {multiple: true, class: "detail_condition detail_checkbox"}, '大阪市中央区', nil
              中央区
    .main__1
      .main__1__title
        堺市
      .main__1__box
        .main__1__box__2
          .main__1__box__2__3
            %label
              = f.check_box :city_in, {multiple: true, class: "detail_condition detail_checkbox"}, '堺市堺区', nil
              堺区
          .main__1__box__2__3
            %label
              = f.check_box :city_in, {multiple: true, class: "detail_condition detail_checkbox"}, '堺市北区', nil
              北区
          .main__1__box__2__3
            %label
              = f.check_box :city_in, {multiple: true, class: "detail_condition detail_checkbox"}, '堺市西区', nil
              西区
          .main__1__box__2__3
            %label
              = f.check_box :city_in, {multiple: true, class: "detail_condition detail_checkbox"}, '堺市中区', nil
              中区
          .main__1__box__2__3
            %label
              = f.check_box :city_in, {multiple: true, class: "detail_condition detail_checkbox"}, '堺市東区', nil
              東区
        .main__1__box__2
          .main__1__box__2__3
            %label
              = f.check_box :city_in, {multiple: true, class: "detail_condition detail_checkbox"}, '堺市美原区', nil
              美原区
          .main__1__box__2__3
            %label
              = f.check_box :city_in, {multiple: true, class: "detail_condition detail_checkbox"}, '堺市南区', nil
              南区

    .main__1
      .main__1__title
        大阪府 - その他の地域
      .main__1__box
        .main__1__box__2
          .main__1__box__2__3
            %label
              = f.check_box :city_in, {multiple: true, class: "detail_condition detail_checkbox"}, '岸和田市', nil
              岸和田市
          .main__1__box__2__3
            %label
              = f.check_box :city_in, {multiple: true, class: "detail_condition detail_checkbox"}, '豊中市', nil
              豊中市
          .main__1__box__2__3
            %label
              = f.check_box :city_in, {multiple: true, class: "detail_condition detail_checkbox"}, '池田市', nil
              池田市
          .main__1__box__2__3
            %label
              = f.check_box :city_in, {multiple: true, class: "detail_condition detail_checkbox"}, '吹田市', nil
              吹田市
          .main__1__box__2__3
            %label
              = f.check_box :city_in, {multiple: true, class: "detail_condition detail_checkbox"}, '泉大津市', nil
              泉大津市
        .main__1__box__2
          .main__1__box__2__3
            %label
              = f.check_box :city_in, {multiple: true, class: "detail_condition detail_checkbox"}, '高槻市', nil
              高槻市
          .main__1__box__2__3
            %label
              = f.check_box :city_in, {multiple: true, class: "detail_condition detail_checkbox"}, '貝塚市', nil
              貝塚市
          .main__1__box__2__3
            %label
              = f.check_box :city_in, {multiple: true, class: "detail_condition detail_checkbox"}, '守口市', nil
              守口市
          .main__1__box__2__3
            %label
              = f.check_box :city_in, {multiple: true, class: "detail_condition detail_checkbox"}, '枚方市', nil
              枚方市
          .main__1__box__2__3
            %label
              = f.check_box :city_in, {multiple: true, class: "detail_condition detail_checkbox"}, '茨木市', nil
              茨木市
        .main__1__box__2
          .main__1__box__2__3
            %label
              = f.check_box :city_in, {multiple: true, class: "detail_condition detail_checkbox"}, '八尾市', nil
              八尾市
          .main__1__box__2__3
            %label
              = f.check_box :city_in, {multiple: true, class: "detail_condition detail_checkbox"}, '泉佐野市', nil
              泉佐野市
          .main__1__box__2__3
            %label
              = f.check_box :city_in, {multiple: true, class: "detail_condition detail_checkbox"}, '富田林市', nil
              富田林市
          .main__1__box__2__3
            %label
              = f.check_box :city_in, {multiple: true, class: "detail_condition detail_checkbox"}, '寝屋川市', nil
              寝屋川市
          .main__1__box__2__3
            %label
              = f.check_box :city_in, {multiple: true, class: "detail_condition detail_checkbox"}, '河内長野市', nil
              河内長野市
        .main__1__box__2
          .main__1__box__2__3
            %label
              = f.check_box :city_in, {multiple: true, class: "detail_condition detail_checkbox"}, '松原市', nil
              松原市
          .main__1__box__2__3
            %label
              = f.check_box :city_in, {multiple: true, class: "detail_condition detail_checkbox"}, '大東市', nil
              大東市
          .main__1__box__2__3
            %label
              = f.check_box :city_in, {multiple: true, class: "detail_condition detail_checkbox"}, '和泉市', nil
              和泉市
          .main__1__box__2__3
            %label
              = f.check_box :city_in, {multiple: true, class: "detail_condition detail_checkbox"}, '箕面市', nil
              箕面市
          .main__1__box__2__3
            %label
              = f.check_box :city_in, {multiple: true, class: "detail_condition detail_checkbox"}, '柏原市', nil
              柏原市
        .main__1__box__2
          .main__1__box__2__3
            %label
              = f.check_box :city_in, {multiple: true, class: "detail_condition detail_checkbox"}, '羽曳野市', nil
              羽曳野市
          .main__1__box__2__3
            %label
              = f.check_box :city_in, {multiple: true, class: "detail_condition detail_checkbox"}, '門真市', nil
              門真市
          .main__1__box__2__3
            %label
              = f.check_box :city_in, {multiple: true, class: "detail_condition detail_checkbox"}, '摂津市', nil
              摂津市
          .main__1__box__2__3
            %label
              = f.check_box :city_in, {multiple: true, class: "detail_condition detail_checkbox"}, '高石市', nil
              高石市
          .main__1__box__2__3
            %label
              = f.check_box :city_in, {multiple: true, class: "detail_condition detail_checkbox"}, '藤井寺市', nil
              藤井寺市
        .main__1__box__2
          .main__1__box__2__3
            %label
              = f.check_box :city_in, {multiple: true, class: "detail_condition detail_checkbox"}, '東大阪市', nil
              東大阪市
          .main__1__box__2__3
            %label
              = f.check_box :city_in, {multiple: true, class: "detail_condition detail_checkbox"}, '泉南市', nil
              泉南市
          .main__1__box__2__3
            %label
              = f.check_box :city_in, {multiple: true, class: "detail_condition detail_checkbox"}, '四條畷市', nil
              四條畷市
          .main__1__box__2__3
            %label
              = f.check_box :city_in, {multiple: true, class: "detail_condition detail_checkbox"}, '交野市', nil
              交野市
          .main__1__box__2__3
            %label
              = f.check_box :city_in, {multiple: true, class: "detail_condition detail_checkbox"}, '大阪狭山市', nil
              大阪狭山市
        .main__1__box__2
          .main__1__box__2__3
            %label
              = f.check_box :city_in, {multiple: true, class: "detail_condition detail_checkbox"}, '阪南市', nil
              阪南市
          .main__1__box__2__3
            %label
              = f.check_box :city_in, {multiple: true, class: "detail_condition detail_checkbox"}, '三島郡', nil
              三島郡
          .main__1__box__2__3
            %label
              = f.check_box :city_in, {multiple: true, class: "detail_condition detail_checkbox"}, '豊能郡', nil
              豊能郡
          .main__1__box__2__3
            %label
              = f.check_box :city_in, {multiple: true, class: "detail_condition detail_checkbox"}, '泉北郡', nil
              泉北郡
          .main__1__box__2__3
            %label
              = f.check_box :city_in, {multiple: true, class: "detail_condition detail_checkbox"}, '泉南郡', nil
              泉南郡
        .main__1__box__2
          .main__1__box__2__3
            %label
              = f.check_box :city_in, {multiple: true, class: "detail_condition detail_checkbox"}, '南河内郡', nil
              南河内郡


      
    .main__2
      = f.select :rooms_rent_gteq, [ ["3万円以上",3], ["3.5万円以上",3.5], ["4万円以上",4], ["4.5万円以上",4.5], ["5万円以上",5], ["5.5万円以上",5.5], ["6万円以上",6], ["6.5万円以上",6.5], ["7万円以上",7], ["7.5万円以上",7.5] ], :include_blank => '指定なし'
      %p ~
      = f.select :rooms_rent_lteq, [ ["3万円以下",3], ["3.5万円以下",3.5], ["4万円以下",4], ["4.5万円以下",4.5], ["5万円以下",5], ["5.5万円以下",5.5], ["6万円以下",6], ["6.5万円以下",6.5], ["7万円以下",7], ["7.5万円以下",7.5] ], :include_blank => '指定なし'
    .main__3
      = f.radio_button :city_eq, '', {:checked => true}
      指定なし
      = f.radio_button :city_eq, '大阪市天王寺区'
      天王寺区
      = f.radio_button :city_eq, '大阪市浪速区'
      浪速区
    .main__4
      = f.select :age_lteq, [ ["新築",0], ["1年以内",1], ["3年以内",3], ["5年以内",5], ["7年以内",7], ["10年以内",10], ["15年以内",15], ["20年以内",20], ["25年以内",25], ["30年以内",30] ], :include_blank => '指定なし'
    .main__5
      %label
        = f.check_box :rooms_plan_in, {multiple: true, class: "detail_condition detail_checkbox"}, '1', nil
        ワンルーム
    .main__5
      %label
        = f.check_box :rooms_plan_in, {multiple: true, class: "detail_condition detail_checkbox"}, '2', nil
        1K
    .main__5
      %label
        = f.check_box :rooms_plan_in, {multiple: true, class: "detail_condition detail_checkbox"}, '3', nil
        1DK
    .main__5
      %label
        = f.check_box :rooms_plan_in, {multiple: true, class: "detail_condition detail_checkbox"}, '4', nil
        1LDK

      
    .main__sub
      = f.submit "検索"