.main
  = search_form_for @search, url: searches_path do |f|
    .main__1
      = f.label :name_eq, "駅名"
      = f.search_field :stations_station_eq
    .main__2
      = f.select :rooms_rent_gteq, [ ["3万円以上",3], ["3.5万円以上",3.5], ["4万円以上",4], ["4.5万円以上",4.5], ["5万円以上",5], ["5.5万円以上",5.5], ["6万円以上",6], ["6.5万円以上",6.5], ["7万円以上",7], ["7.5万円以上",7.5] ], :include_blank => '指定なし'
      %p ~
      = f.select :rooms_rent_lteq, [ ["3万円以下",3], ["3.5万円以下",3.5], ["4万円以下",4], ["4.5万円以下",4.5], ["5万円以下",5], ["5.5万円以下",5.5], ["6万円以下",6], ["6.5万円以下",6.5], ["7万円以下",7], ["7.5万円以下",7.5] ], :include_blank => '指定なし'
    .main__3
      = f.radio_button :city_eq, '', {:checked => true}
      指定なし
      = f.radio_button :city_eq, '大阪市天王寺区'
      天王寺区
      = f.radio_button :city_eq, '大阪市浪速区'
      浪速区
    .main__4
      = f.select :age_lteq, [ ["新築",0], ["1年以内",1], ["3年以内",3], ["5年以内",5], ["7年以内",7], ["10年以内",10], ["15年以内",15], ["20年以内",20], ["25年以内",25], ["30年以内",30] ], :include_blank => '指定なし'
    .main__5
      %label
        = f.check_box :rooms_plan_in, {multiple: true, class: "detail_condition detail_checkbox"}, '1', nil
        ワンルーム
    .main__5
      %label
        = f.check_box :rooms_plan_in, {multiple: true, class: "detail_condition detail_checkbox"}, '2', nil
        1K
    .main__5
      %label
        = f.check_box :rooms_plan_in, {multiple: true, class: "detail_condition detail_checkbox"}, '3', nil
        1DK
    .main__5
      %label
        = f.check_box :rooms_plan_in, {multiple: true, class: "detail_condition detail_checkbox"}, '4', nil
        1LDK

      
    .main__sub
      = f.submit "検索"