.main__1
  .main__1__title
    JR
  .main__1__box
    .main__1__box__2
      .main__1__box__2__3
        %label
          = f.check_box :city_in, {multiple: true, class: "detail_condition detail_checkbox"}, '大阪市都島区', nil
          都島区
      .main__1__box__2__3
        %label
          = f.check_box :city_in, {multiple: true, class: "detail_condition detail_checkbox"}, '大阪市福島区', nil
          福島区
      .main__1__box__2__3
        %label
          = f.check_box :city_in, {multiple: true, class: "detail_condition detail_checkbox"}, '大阪市此花区', nil
          此花区
      .main__1__box__2__3
        %label
          = f.check_box :city_in, {multiple: true, class: "detail_condition detail_checkbox"}, '大阪市西区', nil
          西区
      .main__1__box__2__3
        %label
          = f.check_box :city_in, {multiple: true, class: "detail_condition detail_checkbox"}, '大阪市港区', nil
          港区
    .main__1__box__2
      .main__1__box__2__3
        %label
          = f.check_box :city_in, {multiple: true, class: "detail_condition detail_checkbox"}, '大阪市大正区', nil
          大正区
      .main__1__box__2__3
        %label
          = f.check_box :city_in, {multiple: true, class: "detail_condition detail_checkbox"}, '大阪市天王寺区', nil
          天王寺区
      .main__1__box__2__3
        %label
          = f.check_box :city_in, {multiple: true, class: "detail_condition detail_checkbox"}, '大阪市浪速区', nil
          浪速区
      .main__1__box__2__3
        %label
          = f.check_box :city_in, {multiple: true, class: "detail_condition detail_checkbox"}, '大阪市西淀川区', nil
          西淀川区
      .main__1__box__2__3
        %label
          = f.check_box :city_in, {multiple: true, class: "detail_condition detail_checkbox"}, '大阪市東淀川区', nil
          東淀川区
    .main__1__box__2
      .main__1__box__2__3
        %label
          = f.check_box :city_in, {multiple: true, class: "detail_condition detail_checkbox"}, '大阪市東成区', nil
          東成区
      .main__1__box__2__3
        %label
          = f.check_box :city_in, {multiple: true, class: "detail_condition detail_checkbox"}, '大阪市生野区', nil
          生野区
      .main__1__box__2__3
        %label
          = f.check_box :city_in, {multiple: true, class: "detail_condition detail_checkbox"}, '大阪市旭区', nil
          旭区
      .main__1__box__2__3
        %label
          = f.check_box :city_in, {multiple: true, class: "detail_condition detail_checkbox"}, '大阪市城東区', nil
          城東区
      .main__1__box__2__3
        %label
          = f.check_box :city_in, {multiple: true, class: "detail_condition detail_checkbox"}, '大阪市阿倍野区', nil
          阿倍野区
    .main__1__box__2
      .main__1__box__2__3
        %label
          = f.check_box :city_in, {multiple: true, class: "detail_condition detail_checkbox"}, '大阪市住吉区', nil
          住吉区
      .main__1__box__2__3
        %label
          = f.check_box :city_in, {multiple: true, class: "detail_condition detail_checkbox"}, '大阪市東住吉区', nil
          東住吉区
      .main__1__box__2__3
        %label
          = f.check_box :city_in, {multiple: true, class: "detail_condition detail_checkbox"}, '大阪市西成区', nil
          西成区
      .main__1__box__2__3
        %label
          = f.check_box :city_in, {multiple: true, class: "detail_condition detail_checkbox"}, '大阪市淀川区', nil
          淀川区
      .main__1__box__2__3
        %label
          = f.check_box :city_in, {multiple: true, class: "detail_condition detail_checkbox"}, '大阪市鶴見区', nil
          鶴見区
    .main__1__box__2
      .main__1__box__2__3
        %label
          = f.check_box :city_in, {multiple: true, class: "detail_condition detail_checkbox"}, '大阪市住之江区', nil
          住之江区
      .main__1__box__2__3
        %label
          = f.check_box :city_in, {multiple: true, class: "detail_condition detail_checkbox"}, '大阪市平野区', nil
          平野区
      .main__1__box__2__3
        %label
          = f.check_box :city_in, {multiple: true, class: "detail_condition detail_checkbox"}, '大阪市北区', nil
          北区
      .main__1__box__2__3
        %label
          = f.check_box :city_in, {multiple: true, class: "detail_condition detail_checkbox"}, '大阪市中央区', nil
          中央区